body {
    margin: 0%;
    padding: 0%;
    background-image: url(humber-background.png.jpg);
    background-repeat: no-repeat;
    background-position: right 70px top 50px;
    background-size: 400px;   
}

html {
  scroll-behavior: smooth;
}

#about-section {
  scroll-margin-top: 100px;
  text-align: center;
}

#about-section2 {
  scroll-margin-top: 100px;
}

.about-box {
  background-color: #f8f9fa;  /* soft light background */
  border: 2px solid #ccc;     /* light grey border */
  border-radius: 10px;
  padding: 40px;
  width: 50%;
  width: 200px auto;        /* centers the box */
  text-align: center;         /* centers text inside */
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);  /* subtle shadow */
}

.about {
  text-align: center;
  margin-top: 400px;
  margin-bottom: 30%;
  color: brown;
}
.p1 {
  text-align: center;
}

.navbar {
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-right: 30px;
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100%;
    
}

.main {
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-bottom: 100px;
    color: darkblue;

}

.intro {
    margin-top: 100px;
    margin-bottom: 0%;
    margin-left: 10px;
    color: lightslategray;
    
}

.student {
    margin-left: 10px;
    color: burlywood;
}

p {
    margin-left: 10px;
}
.link-box {
    display: block;
    background-color: lightslategray;
    color: black;
    text-decoration: none;
    margin-right: 100px 100px ;
    padding: 12px 12px;
    margin-left: 20px;

    
}

nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    

}

.info-box {
  background-color: rgb(139, 0, 79); /* Dark pink/maroon */
  padding: 40px;
  text-align: center;
  border-radius: 30px;
  width: 70%;              /* ✅ make it smaller or bigger here */
  margin: 100px auto;      /* centers it and adds space */
  color: white;            /* text color inside */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* optional */
  margin-top: 100px;
}

.info-box h1 {
  margin-bottom: 10px;
  color: white;              /* Humber blue */
}

.info-box a {
  color: white;
  text-decoration: none;
}

.info-box a:hover {
  text-decoration: underline;
}
.info-box p {
    color: white;
    font-size: 25px;
}

.status {
  margin-top: 400px;
  margin-bottom: 70px;
  text-align: center;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: #333; 
    margin: 0 30px;
    font-size: 50px;
  margin: 0 10px;
  transition: 0.3s ease;
}

.social-links a:hover {
    color: lightslategray;
  transform: scale(1.2);   
} 
@media [max-width: 768px] {
  body {
    background-size: 250px;
  }

  @media [max-width: 480px] {
    .intro {
      font-side: 1.2rem;
    }
footer {
    text-align: center;
}
/* .student {
    margin: 0%;
}
.comment {
    margin: 0%;
} */



